# EPSON Connect API Configuration
EPSON_HOST=api.epsonconnect.com
EPSON_CLIENT_ID=
EPSON_CLIENT_SECRET=
EPSON_DEVICE=HACKSONIC_EW-M752T@print.epsonconnect.com
; EPSON_DEVICE=HACKSONIC_EW-M973A3T@print.epsonconnect.com
; EPSON_DEVICE=HACKSONIC_PF-71@print.epsonconnect.com

# Optional Settings document or photo
EPSON_PRINT_MODE=document
# EPSON_PRINT_MODE=photo
EPSON_DEFAULT_MEDIA_SIZE=ms_a4
EPSON_DEFAULT_MEDIA_TYPE=mt_plainpaper